@using Application.Quizzes.Queries.GetQuizzes
@model IList<QuizDto>

<div class="container">
    <h1 class="text-center">Explore</h1>

    <table class="table-responsive" id="quizzes-table">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>number of sfxs</th>
                <th>author</th>
                <th>date created</th>
                <th>rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (quiz, index) in Model.Select((quiz, index) => (quiz, index + 1)))
            {
                <tr onclick="(function(){ window.location = '/quiz/@quiz.Id'; })()">
                    <td data-label="#">@index</td>
                    <td data-label="title">@quiz.Title</td>
                    <td data-label="number of sfxs">@quiz.NumberOfSFXs</td>
                    <td data-label="author">@quiz.Author</td>
                    <td data-label="date created">@quiz.Created.ToShortDateString()</td>

                    @if (quiz.AverageRate > 0)
                    {
                        <td data-label="rating">@quiz.AverageRate</td>
                    }
                    else if (quiz.AverageRate == 0)
                    {
                        <td data-label="rating">No rates</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script defer>
    $(document).ready( function () {
        $('#quizzes-table').DataTable();
    } );
</script>
}

@section Styles{
<link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
}
