@model Application.Quizzes.Commands.UpsertQuiz.UpsertQuizVm;

@{
    string pageTitle = (Model.Id is null) ? "Create a quiz" : "Update a quiz";
}

<div class="quiz-creator container">
    <h1>@pageTitle</h1>

    <form asp-area="app" asp-controller="quiz" asp-action="upsert" class="create-quiz-form" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="text" hidden>

        <div class="drop-area">
            <i class="fas fa-cloud-upload-alt"></i>

            <div class="drop-area__status">
                @if (Model.Files?.Count() > 1)
                {
                    <p>@Model.Files.Count() files selected</p>
                }

                @if (@Model.Files?.Count() == 1)
                {
                    <p>@Model.Files[0].FileName Selected</p>
                }
            </div>

            <p>Drag & Drop files Here</p>
            <p>Or</p>
            <button type="button" class="browse-files-button" aria-label="browse files">Browse Files</button>

            <input asp-for="Files" class="files-input" type="file" name="files" min="1" max="30" max-size="60000" multiple required="@(Model.Files is null)" aria-required="true" />
        </div>

        @if (User.IsInRole("Administrator"))
        {
            <div class="form-check">
                <input asp-for="Approved" type="checkbox" class="form-check-input" id="approved">
                <label class="form-check-label" for="approved">Approved Quiz</label>
            </div>
        }

        <div class="form-check">
            <input asp-for="IsPublic" type="checkbox" class="form-check-input" checked id="public">
            <label class="form-check-label" for="public">Public Quiz</label>
        </div>

        <div class="captacha">
            <div class="g-recaptcha" data-sitekey="6LdbmkEeAAAAANLtuEoxy_BHHmiTYa2GEmiawZpX" data-callback="handleCaptachaCallback" data-expired-callback="handleCaptchaExpired"></div>
            <input asp-for="Captacha" id="captacha-field" required type="text" style="display:none;">
        </div>

        <div class="form-floating title-input">
            <input asp-for="Title" type="text" class="form-control" id="title" required aria-required="true">
            <label for="title">Title*</label>
        </div>

        <button class="upsert-quiz-button" type="submit" aria-label="@pageTitle">@pageTitle</button>
    </form>

    <hr />

    <div class="how-to-get-sfx__instruction text-white">
        <div class="instruction-point p-0">
            <p class="point__title">Name file convention</p>
            <p class="text-center">
                - After ' ` ' you can add alternatives names that are also correct. <br />
                - The filename will be your SFX name, which will be guessed. <br />
                - File format ought to be .mp3, .ogg or .wav.
            </p>
            <img loading="lazy" src="~/assets/images/how-to-get-sfx/name-file.webp" alt="name the file" />
        </div>
    </div>

    <a class="quiz-creator__how-to-get-sfx-link" asp-area="app" asp-controller="home" asp-action="howtogetsfx">How to get a SFX</a>
</div>




@section Scripts{
<script src="https://www.google.com/recaptcha/api.js" defer></script>
<script defer type="module" src=~/js/quizCreator.js></script>
<script defer>
    function handleCaptachaCallback(captacha) {
        document.getElementById('captacha-field').value = captacha;
    }

    function handleCaptchaExpired(){
        document.getElementById('captacha-field') = "";
    }
</script>
}
