@using Application.Quizzes.Queries.GetQuizzes
@model IList<QuizDto>

@{
    string returnUrl = "/yourquizzes";
}


<div class="container">
    <h1 class="text-center">Your Quizzes</h1>

    <table class="table-responsive" id="quizzes-table">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>number of sfxs</th>
                <th>date created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (quiz, index) in Model.Select((quiz, index) => (quiz, index + 1)))
            {
                <tr onclick="(function(){ window.location = '/quiz/@quiz.Id'; })()">
                    <td data-label="#">@index</td>
                    <td data-label="title">@quiz.Title</td>
                    <td data-label="number of sfxs">@quiz.NumberOfSFXs</td>
                    <td data-label="date created">@quiz.Created.ToShortDateString()</td>
                    <td>
                        <form class="d-inline" method="post" asp-area="app" asp-controller="quiz" asp-action="delete" asp-route-id="@quiz.Id" asp-route-returnurl="@returnUrl">
                            <button type="submit" class="btn btn-danger mx-1 my-1"><i class="fas fa-trash-alt"></i></button>
                        </form>

                        <a asp-area="app" asp-controller="quiz" asp-action="upsert" asp-route-id="@quiz.Id" type="submit" class="btn btn-info d-inline"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
<script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script defer>
    $(document).ready( function () {
        $('#quizzes-table').DataTable();
    } );
</script>
}

@section Styles{
<link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
}
