@using Application.Quizzes.Queries.GetQuizzes
@model IList<QuizDto>

<div class="container">
    <table class="table-responsive" id="quizzes-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Number of SFXs</th>
                <th>Author</th>
                <th>Date Created</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var (quiz, index) in Model.Select((quiz, index) => (quiz, index + 1)))
            {
                <tr onclick="(function(){ window.location = '/quiz/@quiz.Id'; })()">
                    <td>@index</td>
                    <td>@quiz.Title</td>
                    <td>@quiz.NumberOfSFXs</td>
                    <td>@quiz.Author</td>
                    <td>@quiz.Created.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script defer>
    $(document).ready( function () {
        $('#quizzes-table').DataTable();
    } );
</script>
